.slogan-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--c4);
  margin: 0 0 40rem;
}

.slogan-container {
  max-width: 1395rem;
  margin: 0 auto;
  padding: 0 40rem;
  text-align: center;
}

.slogan-text {
  text-align: center;
  font-family: 'NanumMyeongjo', serif;
  font-size: var(--high);
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -2.88rem;
  margin: 0;
}

.slogan-word {
  display: inline-block;
  color: rgba(242, 241, 237, 0.15);
  transition: color 0.15s ease-out;
  white-space: pre-wrap;
}

@media screen and (max-width: 1023px) {
  .slogan-section {
    min-height: 75vh;
    margin-bottom: 24px;
  }

  .slogan-container {
    padding: 0 24px;
  }

  .slogan-text {
    line-height: 135%;
    letter-spacing: -0.96px;
  }
}
