:root {
  --c1: #F2F1ED;
  --c2: #DCCBB3;
  --c3: #141414;
  --c4: #4F0227;
  --c5: #F3EAE1;

  --g1: linear-gradient(180deg, #4F0227 0%, #000 99.48%);
  --g2: linear-gradient(180deg, #4F0227 18.75%, #000 99.48%);

  --h1: max(40px, 128rem);
  --h2: max(32px, 96rem);
  --high: max(32px, 96rem);
  --sub: max(16px, 18rem);
  --btn: max(16px, 20rem);
  --body: max(16px, 18rem);

  --p1: max(16px, 40rem);

  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}
