.about-team {
  max-width: 900rem;
  margin: 0 auto 330rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.about-team-col {
  width: calc(50% - 20rem);
  margin: 0 0 60rem;
  overflow: visible;
}

.about-team-col:last-child {
  margin-left: auto;
}

.about-team-col.img-float {
  height: 540rem;
  min-height: 360px;
}

.about-team-col img {
  width: 100%;
}

.about-team-text {
  width: 155%;
  margin: 0 0 36rem;
  opacity: 0.8;
  font-size: var(--body);
  line-height: 130%;
}

.about-team-col h2 {
  width: 200%;
  position: relative;
  z-index: 10;
  margin: 0 0 16rem;
  text-align: left;
}

.about-team-col .subheading {
  text-align: left;
}

.mob-hide { display: block; }
.mob-hidden { display: none; }

@media screen and (max-width: 1299px) {
  .about-team {
    max-width: 640px;
  }
  .about-team-text {
    width: 140%;
  }
}

@media screen and (max-width: 1023px) {
  .about-team {
    margin: 0 auto 80px;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-team-col {
    width: 100%;
    margin: 0 0 28px;
  }

  .about-team-col:last-child {
    margin-left: auto;
  }

  .about-team-text {
    width: auto;
    margin: 0 0 36px;
  }

  .about-team-col h2 {
    width: auto;
    margin: 0 0 16px;
  }

  .about-team-text.mob-hidden {
    margin: 28px 0 0;
  }

  .mob-hidden { display: block; }
  .mob-hide { display: none; }
}

@media screen and (max-width: 576px) {
  .about-team-col.img-float {
    min-height: 450px;
  }
}
