.join {
  padding: 0 0 160rem;
}

.join h2 {
  margin: 0 0 35rem;
}

.join-form {
  position: relative;
  max-width: 900rem;
  margin: 0 auto;
}

.join-form .key-wrap {
  margin: 0 0 88rem;
}

.join-form .key {
  margin: 0 auto;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-box .input-item {
  width: calc(50% - 20rem);
}

@media screen and (max-width: 1023px) {
  .join {
    padding: 0 0 80px;
  }

  .join h2 {
    margin: 0 0 16px;
  }

  .join-form {
    max-width: 480px;
    padding: 36px 0 0;
  }

  .join .join-form {
    padding: 75px 0 0;
  }

  .form-button {
    padding: 16px 0 0;
  }

  .input-box .input-item {
    width: 100%;
  }
}
